.app-root {
  width: 100%;
  height: 100%;

  > .t-page-container {
    width: 100%;
    height: 100%;
    position: relative;
  }

}

  .group-page {
    .header {
      height: 50px;
      padding: 10px 15px;
      border-bottom: solid 1px #eee;
    }

    .logo-mini {
      height: 100%;
    }

    .auth-page {
      top: 50px;
      height: calc(100% - 50px);
    }
  }
